@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@if (ViewBag.EmailSent != null)
{
    Html.Raw(ViewBag.EmailSent);
}
<div class="card-body">
    <h2 class="title">Sign In</h2>
    <form asp-controller="account" asp-action="ForgotPassword" method="post">
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label class="label">E-Mail</label>
                    <input asp-for="EMail" class="input--style-4" type="email" placeholder="example@mail.com">
                </div>
            </div>

            <div class="p-t-20">
                <button class="btn btn--radius-2 btn--blue" type="submit">Confirm</button>
            </div>
    </form>
</div>

