@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="card-body">
    <h2 class="title">Reset My Password</h2>
    <form asp-controller="account" asp-action="ResetPassword" method="post">
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label class="label">Password</label>
                    <input asp-for="Password" class="input--style-4" type="password" >
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label class="label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="input--style-4" type="password">
                </div>
            </div>
        </div>


        <div class="p-t-20">
            <button class="btn btn--radius-2 btn--blue" type="submit">Change Password</button>
        </div>
    </form>
</div>

