@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="card mb-3">

    <div class="card-body">

        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
            <p class="text-center small">Enter your username & password to login</p>
        </div>
        @if (ViewBag.NullUser!=null)
        {
            @Html.Raw(ViewBag.NullUser)
        }
        @if (ViewBag.EmailSent != null)
        {
            @Html.Raw(ViewBag.EmailSent)
        }
        <form class="row g-3 needs-validation" asp-controller="account" asp-action="ForgotPassword" method="post">
          
            <div class="col-12">
                <div class="input-group has-validation">
                    <input asp-for="Email" type="text" class="form-control" placeholder="Email Adress">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">E-Postamı Doğrula</button>
            </div>
        </form>

    </div>
</div>
