@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="card mb-3">

    <div class="card-body">

        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
            <p class="text-center small">Enter your username & password to login</p>
        </div>

        <form class="row g-3 needs-validation" asp-controller="account" asp-action="ResetPassword" method="post">
            @if (ViewBag.Warning != null)
            {
                @Html.Raw(ViewBag.Warning)
            }
            <div class="col-12">
                <div class="input-group has-validation">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12">
                <div class="input-group has-validation">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Şifremi Yenile</button>
            </div>
        </form>

    </div>
</div>


